*
{
    margin: 0px;
    padding: 0px;
    
}
/* index.html */
body
{
  background-color: lightgoldenrodyellow;
}
.cat
{
  background-color: cornsilk;
  margin:0px 200px 0px 200px;
  border: 1px solid grey;
  padding: 20px;
}
.cat1
{
  background-color: cornsilk;
  margin:0px 100px 0px 100px;
  border: 1px solid grey;
  padding: 20px;
  position: relative;
}
.cat h2
{
  text-align: center;
}
.cat1 h2
{
  text-align: center;
}
.back
{
  margin:0px 200px 0px 200px;
  border: 1px solid grey;
  padding: 20px;
}
.feature-box{
  width:155px;
  height: 160px;
  margin: 0px 20px;
  border-radius: 10px;
}
.feature-box a img{
  width:100%;
  height: 100%;
}
.item span{
  font-size: 1rem;
  font-weight: 600;
  margin: 5px;
  color: #444444;
}
.item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#autoWidth{
  display: flex;
  justify-content: center !important;
  margin: 10px auto 40px auto;
}
/* index products */
.product-container{
  width:90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.product-box
{
  border: 1px solid #f7f7f7;
  border-radius: 10px;
  margin: 20px;
}
.product-img{
  width:200px;
  height: 210px;
  margin: 20px;
  position: relative;
}
.product-img img{
  width:100%;
  height: 100%;
}
.product-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  border-top: 1px solid #f3f3f3;
}
.p-name{
  color: #727272;
}
.p-price{
  color: #333333;
  font-size: 1.2rem;
  font-weight: 400;
}

.product-headings{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 /*footer */
.foot{
	background-color: #2c292f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
  margin:100px 500px 50px 200px;
  border: 1px solid grey;
  padding: 20px;
  clear:both;
}
p{
    color: yellow;
}
.foot h1{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 .footer-company-about
  {
	color:  #92999f;
	font-size: 13px;
  }
 /* header */
 main {
  margin:10px;
}
 header { 
  overflow:auto;
  background-color:lightblue;
  margin:10px 40px 45px 20px;
  height: auto;
}
.header a {
  float: left;
    color: black;
    text-align:top;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  .medshopfnt
{
    font-size: 34px;
    color: blue;
    padding-left:20px;
    padding-top: -30px;
    
}
img{
  height: 50px;
}
.navitem {
  color:black;
  text-decoration:none;
  padding: 10px;
  float:right;
}

.navbar button {
  background-color: DodgerBlue;
  border:solid;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  float:right;
  text-decoration:none;

}
.navbar a
{
text-decoration: none;
color:black;

}
.navbar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

  /* register and login form */
  form{
    background-color: cadetblue;
    border: 1px solid #000000;
    padding: 15px;
    margin: 45px 500px 100px 500px;
  }




  
/* index */



/* body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h3{
    color:blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 200%;
}
 img{
    height: 50px;
}
form{
    border: 1px solid #000000;
    padding: 15px;
    margin: 45px 500px 100px 500px;
  }
  
   body {
    font-family: Roboto,sans-serif;
    background-color: lightyellow;    
    margin:0px;
}

a.brand {
    color:white;    
    text-decoration: none;
    padding-right: 30px;
    margin: 10px;
}

.navitem {
    color:black;
    text-decoration:none;
    padding: 10px;
    float:right;
}
navbar{

}
main {
    margin:10px;
}

table {
    width: 100%;    
} 
img{
  height: 50px;
}
h3{
  color: blue;
  text-align: justify;
}
  
home{
    background-image: url('images/medback1.jpg');
}

.column{
   display: inline-block;
   }    
   
   tablets.html */
   